body {
  width: 100vw;
  margin: 0;
  padding: 10px 20px;
  text-align: center;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1 {
  color: green;
}

.index-box {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.index-box .button {
  width: 100px;
  height: 50px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: green;
}

.index-box .login-quit {
  display: none;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
}

.mask .button {
  padding: 5px 20px;
  margin: 10px 0;
  background-color: #fff;
}

.showTrue {
  display: flex;
}

.nowDifficulty {
  color: green;
}

.verification-login,
.password-login {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.verification-login .login-box,
.password-login .login-box {
  padding: 15px 10px 15px 10px;
  background-color: #fff;
}

.verification-login .login-box h3,
.password-login .login-box h3 {
  margin: 10px 0;
}

.verification-login .login-box .input-box,
.password-login .login-box .input-box {
  display: flex;
  align-items: center;
}

.verification-login .login-box .input-box .text,
.password-login .login-box .input-box .text {
  width: 100px;
  text-align-last: justify;
}

.verification-login .login-box .input-box .verification-code,
.password-login .login-box .input-box .verification-code {
  margin-left: 10px;
  font-size: 12px;
}

.verification-login .login-box .password-input-box,
.password-login .login-box .password-input-box {
  margin-top: 10px;
}

.verification-login .login-box .hint,
.verification-login .login-box .code-hint,
.verification-login .login-box .password-login-hint,
.password-login .login-box .hint,
.password-login .login-box .code-hint,
.password-login .login-box .password-login-hint {
  margin-left: 20px;
  height: 20px;
  font-size: 12px;
  transform: scale(0.7);
  text-align: left;
  color: red;
}

.verification-login .login-box .password-login-hint,
.password-login .login-box .password-login-hint {
  margin-left: 85px;
}

.verification-login .login-box .button-box,
.password-login .login-box .button-box {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  font-size: 14px;
}

.verification-login .login-box .button-box .password-button,
.verification-login .login-box .button-box .verification-login-button,
.verification-login .login-box .button-box .verification-button,
.verification-login .login-box .button-box .password-login-button,
.password-login .login-box .button-box .password-button,
.password-login .login-box .button-box .verification-login-button,
.password-login .login-box .button-box .verification-button,
.password-login .login-box .button-box .password-login-button {
  padding: 5px;
  border: 1px solid #000;
}

.set-user-password {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.set-user-password .set-box {
  padding: 15px 10px 15px 10px;
  background-color: #fff;
}

.set-user-password .set-box h3 {
  margin: 10px 0;
}

.set-user-password .set-box .input-box {
  display: flex;
  align-items: center;
  margin-top: 14px;
}

.set-user-password .set-box .input-box .text {
  width: 100px;
  text-align-last: justify;
}

.set-user-password .set-box .setup-complete {
  margin-top: 15px;
  padding: 5px;
  border: 1px solid #000;
}

.set-user-password .set-box .set-hint {
  margin-left: 85px;
  height: 20px;
  font-size: 12px;
  transform: scale(0.7);
  text-align: left;
  color: red;
}
